/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

.menu-link {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.main-heading {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
}

.paragraph-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}

.section-heading {
    color: coral;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

/* Навигация */
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
    padding: 15px;
}

nav li {
    text-align: center;
}

nav a:hover {
    color: blue;
}

/* Карточки товаров */
.product-card {
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    margin: 30px auto;
    overflow: hidden;
    position: relative;
    transition: transform .3s ease-in-out;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card h3 {
    margin-top: 0;
}

.product-card p {
    padding: 0 10px 10px 10px;
}

.product-card:hover {
    transform: scale(1.05);
}
